@model UniversidadWEB.Models.Alumno

@{
    ViewData["Title"] = "Eliminar Alumno";
}

<h1>Eliminar Alumno</h1>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">¿Está seguro de que desea eliminar este alumno?</h4>
    <p>Esta acción no se puede deshacer.</p>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Carnet)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Carnet)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.NombreCompleto)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.NombreCompleto)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-8">
                        @if (Model.Estado)
                        {
                            <span class="badge bg-success">Activo</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactivo</span>
                        }
                    </dd>
                </dl>
            </div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="AlumnoID" />
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash"></i> Confirmar Eliminación
            </button>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver a la Lista
            </a>
        </form>
    </div>
</div>